{% extends 'base.html.twig' %}

{% block title %}Market{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .market_data_container { display: flex; flex-direction: column; align-items: center; }
    .market_data_crypto { border: 1px solid black; }
    .market_data_crypto_field { text-align: center; padding: 10px;}
    table { border-collapse: collapse; width: 100%; }
    .delete_button{ background-color: red; color: white; border : none; padding: 5px; }
    .edit_button{ background-color: orange; color: white; border : none; padding: 5px; }
    .add_button{ background-color: green; color: white; border : none; padding: 5px; }
    .header{ display: flex; justify-content: space-between; align-items: center; }
</style>

{% include 'layout/header.html.twig' %}
<div>
    <div class='header'>
        <h1>Welcome to the Market page</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_market_add') }}" class="add_button">Add a new Crypto</a>
        {% endif %}
    </div>
    <table>
        <thead>
            <tr class="market_data_crypto">
                <th class="market_data_crypto_field" >Code</th>
                <th class="market_data_crypto_field" >Name</th>
                <th class="market_data_crypto_field" >Price</th>
                <th class="market_data_crypto_field" >Market Cap</th>
                <th class="market_data_crypto_field" >Max Supply</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="market_data_crypto_field" >Edit data</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="market_data_crypto_field" >Delete from market data</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for crypto in marketData %}
                <tr class="market_data_crypto">
                    <td class="market_data_crypto_field">{{ crypto.code }}</td>
                    <td class="market_data_crypto_field">{{ crypto.name }}</td>
                    <td class="market_data_crypto_field">{{ crypto.price }}</td>
                    <td class="market_data_crypto_field">{{ crypto.marketCap }}</td>
                    <td class="market_data_crypto_field">{{ crypto.maxSupply }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="market_data_crypto_field" >
                            <a href="{{ path('app_market_edit', {'slug': crypto.slug}) }}" class="edit_button">Edit</a>
                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="market_data_crypto_field" >
                            <form action="{{ path('app_market_delete', {'id': crypto.id}) }}" method="post">
                                <input type="hidden" name="csrf" value="{{ csrf_token('delete' ~ crypto.id) }}">
                                <input type="submit" value="Delete" class="delete_button">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
